body {
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.error {
  color: red;
  background: rgb(255, 150, 150);
  font-size: 2rem;
  border-style: dotted;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: rgb(150, 255, 150);
  font-size: 2rem;
  border-style: dotted;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
}